* { 
    padding: 0px; margin: 0px;
 }


#header {
    width: auto; 
    background-color: #a72c2c; 
    height: 75px; 
    display: flex; 
    justify-content: space-between; 
    padding-bottom: 10px;
}

#logo{
    margin-left: 25px;
}

#nav_re { 
    width: 380px;
}

#nav_ul { 
    display: flex; list-style: none; 
}

.li_nav { 
    margin: 30px 15px 15px; 
    margin-right: 25px;
    transition: all 0.2s ease 0s; 
}


.a_nav {
    width: 50px;
    padding: 10px;
    font-size: 22px; 
    font-family: 'Poppins', sans-serif;
    text-decoration: none; 
    transition: all 0.2s ease 0s; 
    border-radius: 5px;
}

.a_nav:link { 
    color: #fff; 
}

.a_nav:visited { 
    color: #fff; 
}

.a_nav:hover { 
    color: #000; 
    background-color: #fff;
}

#tit_inv{
    text-align: center;
    margin-top: 22px;
    margin-bottom: 55px;
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
    color: rgba(177, 52, 52, 0.933) ;
}

#table_inv{
    font-size: 30px;
    width: 1150px;
    margin: auto;
    padding: 0;
    background-color: #463c3c;
    border-collapse: collapse ;
    table-layout: fixed;
}

#table_inv thead{
    background-color: #ED9A9A;
    border: #000 2px solid;
}

#table_inv thead tr{
    border: #000 2px solid;
}

#table_inv thead tr th{
    border: #000 2px solid;
    text-align: center;
}

#table_inv tbody tr td{
    border: #000 2px solid;
    text-align: center;
}

#id_table{
    width: 65px;
}

#nom_table{
    width: 325px;
}


.fila_i{
    background-color: #B6B4B9;
    font-size: 22px;
}

.fila_p{
    background-color: #DDDBE1;
    font-size: 22px;
}

.text_filas{
    padding: 6.8px;
}

.btn-edit{
    width: 85px;
    height: 30px;
}

#foot{
    width: auto; 

    background-color: #a72c2c; 
    height: 75px; 
    display: flex; 
    justify-content: center;
}

#derechos{
    color: #fff;
    font-size: 22px;
    margin: auto;
    font-family: 'Poppins';
}

#ag_prod{
    text-align: center;
    margin-top: 50px;
}

#but_ag{
    font-size: 25px;
    padding: 15px;
    padding-left: 35px;
    padding-right: 35px;
    background-color: #47b34e;
    text-decoration: none;
    border-radius: 7px;
    transition: all 0.25s ease;
}

#but_ag:link{
    color: #000;
}

#but_ag:visited{
    color: #000;
}

#but_ag:hover{
    color: #fff;
}

.switch{
    position: relative;
    display: inline-block;
    width: 40px;
    height: 23px;
    background-color: #47b34e ;
    border-radius: 40px;
}

.switch::after{
    content: '';
    position: absolute;
    width: 17px;
    height: 17px;
    border-radius: 17px;
    background-color: #DDDBE1;
    left: 3px;
    top: 3px;
    transition: all 0.3s ease;
}

input[type='checkbox']:checked + .switch::after{
    transform: translate(17px);
    background-color: #000;
}

input[type='checkbox']:checked + .switch{
    background-color: #2a8994 ;
}

.offscreen{
    position: absolute;
    left: -99999px;
}

#pqrs_se{
    display: flex;
    justify-content: end;
}

#icon_pqrs{
    font-size: 50px;
    margin: 10px;
    margin-top: 130px;
    color: #000;
}

#icon_pqrs:link{
    font-size: 50px;
    margin: 10px;
    margin-top: 130px;
    color: #000;
}

#icon_pqrs:visited{
    font-size: 50px;
    margin: 10px;
    margin-top: 130px;
    color: #000;
}

#icon_pqrs:active{
    color: #000;
}