html{
    scroll-behavior: smooth;
}


*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #ffffff;
}

#header{
    display: flex;
    height: 75px;
    width: 100%;
    background-color: #a72c2c;
    border-bottom: 4px solid #000000;
    
}

#img_header{
    width: 150px;
    height: 70PX;
    padding-left: 40px;
    padding-right: 10px;
}

#titulo{
    font-size: 21px;
    font-family: 'DM Sans', sans-serif; 
    padding-top: 24px ;
    width: 300px;
    text-align: center;
    color: #fff;
}

#nav_re { 
    width: 380px;
    padding-left: 900px;
}

#nav_ul { 
    display: flex; list-style: none; 
}

.li_nav { 
    margin: 30px 15px 15px; 
    margin-right: 25px;
    transition: all 0.2s ease 0s; 
}


.a_nav {
    width: 50px;
    padding: 10px;
    font-size: 25px; 
    font-family: 'Poppins', sans-serif;
    text-decoration: none; 
    transition: all 0.2s ease 0s; 
    border-radius: 5px;
}

.a_nav:link { 
    color: #000; 
}

.a_nav:visited { 
    color: #000; 
}

.a_nav:hover { 
    color: #fff; 
    background-color: #000;
}
#contenido_princ{
    color: #000;
    font-family: 'DM Sans', sans-serif;
    font-size: 29px;
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 480px;

   

}

#cont_aulas{
    margin-left: 55px ;
}

#nuestra-papeleria{
    padding-top: 170px;
    padding-left: 90px;
  
}

#desc_aulas{
    padding-top: 20px;
    margin-bottom: 50px;
    width: 800px;
    padding-left: 90px;

}

#img_robot{
    width: 520px;
    height: 650px;
    margin: 30px;
    padding-left: 110px;
    }



.pqrs{
    margin: 40px auto;
    text-align: center;
    
   }
  
   .pqrs img{
    width: 120px;
    margin: 0 20px;
    cursor: pointer;
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    padding-bottom: 85px;
    left: 1625px;

   }
   .check-box{
    margin: 10px 11px 15px 0;
   }

#footer{
        color: #ffffff;
        background-color: #9b2b2b;
        width: 100%;
        height: 65px;
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 0;
}
      
#derechos{
        padding: 20px;
        margin-right: 20px;
        font-size: 25px;
}



